body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ebe6da;
  color: #333;
}
header {
  background-color: #2d2926;
  color: #f3f2ee;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}

nav {
  position: absolute;
  top: 10px;
  right: 20px;
  align-self: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #b27a6a;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  display: inline;
}

header h1:hover {
  color: #b27a6a;
}

header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
section {
  padding: 2rem;
  margin: 1rem auto;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #2d2926;
}

#about img {
  max-width: 300px;
  position: static;
  display: inline-block;
  margin: 0 auto 1rem;
  right: 30px;
  left: 30px;
}

#aboutme {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#about p {
  display: inline;
  margin: 16px;
  padding: 8px;
  font-size: large;
}
#skills ul {
  list-style-type: none;
  padding: 0;
}

#skills li {
  background: #d4b1a7;
  color: #2d2926;
  display: inline-block;
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  text-transform: capitalize;
  font-size: large;
}

#projects .project {
  margin-bottom: 2rem;
}
#projects img {
  max-height: fit-content;

  max-width: 75%;
  display: block;
  margin: 0.5rem 0;
  border-radius: 10px;
  border: 2px solid #b27a6a;
}
#projects .project h3 {
  color: #b27a6a;
}
#resume a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #b27a6a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

#resume a:hover {
  background: #d4b1a7;
}

#contact a {
  color: #b27a6a;
  text-decoration: none;
}
#contact a:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
  background-color: #2d2926;
  margin: 0;
  padding-bottom: 8px;
  padding-top: 8px;
  color: #fff;
  width: 100%;
  bottom: 0;
}
@media (max-width: 768px) {
  header,
  section,
  footer {
    padding: 1rem;
  }
  header h1 {
    font-size: 2rem;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  #about img {
    max-width: 200px;
    max-height: 300px;
  }
  #about p {
    font-size: 0.75em;
  }
}
